<!DOCTYPE html>
<html>
<head>
    <title>SoftUni Blog</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
</head>
<body>
    <header>
        <div class="navbar navbar-default navbar-fixed-top text-uppercase">
            <div class="container">
                <div class="navbar-header">
                    <a href="#" ><img src="D:/Png za proekt/Logo.png" style="width:20%;height:20%;"></a>
                    <a href="/" class="navbar-brand" >BetterUni</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" >
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                {{#if user}}
                      <ul class="nav navbar-nav navbar-right">
             <li><a href="/article/create">New Article</a></li>
             <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">({{user.email}}) <span class="caret"></span></a>
             <ul class="dropdown-menu">
            <li><a href="#">View all articles</a></li>
            <li><a href="index.html">Log out</a></li>
          </ul>
        </li>
      </ul>
                {{/if}}
                {{#unless user}}
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/user/register">Register</a></li>
                            <li><a href="/user/login">Login</a></li>
                            <li><a href="forus.html">For us</a></li>
                        </ul>
                    </div>
                {{/unless}}
            </div>
        </div>
    </header>
    {{#if error }}
        <h2>{{error}}</h2>
    {{/if}}
    {{{body}}}
</body>
<footer>
    <div class="container modal-footer">
        <div class="site-footer">
        <p>&copy; 2016 - Software University Foundation</p></div>
    </div>
</footer>
</html>
